h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  background-color: #818C8D;
}
img {
  width: 150px;
  margin-left: 12em;
  margin-bottom: 4em;
}
body {
  background-color: #314A73;
}
.pick {
  color: #F1E9C2;
  text-align: center;
}
